* {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
    background-color: #1f2937;
    color: #F9FAF8;
}

/* Header and top links */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 18px;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

/* Section One - "This website is awesome, subtext, sign  up button,
large image placeholder */

.sectionone {
    display: flex;
    justify-content: space-between;
    padding: 150px;
    gap: 28px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.image {
    display: flex;
    align-items: center;
    background-color: grey;
    text-align: center;
    margin: 0px;
    padding: 120px 180px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

button {
    max-width: 130px;
    padding: 8px 20px;
    background-color: #3882f6;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
}

/* Section Two - "Some random information" and four image
placeholders along with four subtext captions */

.sectiontwo {
    background-color: #F9FAF8;
    text-align: center;
}

.infocontainer {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.imgbox {
    width: 100px;
    height: 100px;
    background-color: #F9FAF8;
    border: 5px solid #3882f6;
    border-radius: 8px;
    
}

.imgtext {
    background-color: #F9FAF8;
    color: gray;
    padding: 10px;
}

.info {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color: #F9FAF8;
    color: #1f2937;
    text-align: center;
    padding: 30px;
}

/* Section Three - Inspiring quote */

.sectionthree {
    padding: 50px;
    background-color: #e5e7eb;
    padding: 150px 250px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-wrap: wrap;
}

.author {
    background-color: #e5e7eb;
    text-align: right;
    color: #1f2937;
    font-weight: 700;
    font-size: 25px;
    padding-top: 50px;
}

/* Section Four - Call to action and sign up button */

.sectionfour {
    background-color: #F9FAF8;
    padding: 60px;
}

.boxtext {
    background-color: #3882f6;
}

.action {
    background-color: #3882f6;
    font-size: 30px;
    font-weight: 700;
}

.boxsubtext {
    background-color: #3882f6;
}

.bluebox {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.buttonborder {
    border: 2px solid white;
    width: 250px;
    font-weight: 700;
}


/* Section Five - Footer */

